@import "tailwindcss";

@theme {
    --color-primary-bg: #0A0A0A;
    --color-secondary-bg: #0F0F0F;
    --color-primary-accent: #0ED3B0;
    --color-primary-text: white;
    --color-secondary-text: #7E8083;
    --color-primary-stroke: #2A2A2A;
}